.footer {
  padding: 45px 0px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
  background: #F4F4F4;
  align-items: center;
  height: 100px;
  color: black;
}

.content {
  min-height: calc(100vh - 100px);
}

.footer .fa-heart {
  color: black;
} 