// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "dress_card";

.container {
  font-family: 'Julius Sans One', sans-serif;
}

.jumbotron {
  text-align: right;
  background-image: asset-url("banner.jpg");
  width: 100%;
  opacity: 1;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;

  .header{
    padding-right: 50px;
  }

  p {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 40px;
  }

  h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 50px;
  }
}

.dresses-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .dresses-grid-card {
    margin: 1rem 1rem 0;
    font-family: 'Julius Sans One', sans-serif;

    a {
      text-decoration: none;
      font-family: 'Julius Sans One', sans-serif;
    }
  }
}
