// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";

.jumbotron {
  font-family: 'Quicksand', sans-serif;
  text-align: right;
  background-image: url("banner.jpg");
  width: 100%;
  opacity: 1;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;

  .header{
    padding-right: 50px;
  }

  p {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 40px;
  }

  h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 50px;
  }
}
