gi.inputbox{}

.form{
position:absolute;
/*top:50%;*/
left:50%;
/*transform:translate(-50%,-50%);*/
width:400px;
height:40px;
/*padding:10px;*/
/*box-sizing:border-box;*/
/*box-shadow:0 15px 25px rgba(0,0,0,0.5);*/
/*border-radius:10px;*/
}
/*todo al interior del login form*/




.simple_form .input-box {
  position:relative;
}

.simple_form .input-box .form-control,
//.simple_form .input-box #dress_size,
//.simple_form .input-box #dress_description,
//.simple_form .input-box #dress_price,
//.simple_form .input-box #dress_heigth,
//.simple_form .input-box #dress_title
 {
  width:100%;
  padding:10px 0;
  font-size:16px;
  margin-bottom:10px;
  border: transparent !important ;
  background:transparent;
  box-shadow:none;
  border-bottom:1px solid !important;

}

.simple_form .input-box .form-control-label  {
  //position: relative;
  top:0;
  left:0;
  padding:5px 0;
 /* pointer-events: none;
  transition:.5s;*/

}

label {
  text-align:center !important;
  font-size:18px;
  display: block;
  text-align:center;
  line-height:50%;
  font-family: 'Alegreya Sans SC', sans-serif;


}

.simple_form input {
  font: inherit;
  color: white;
  line-height: normal;
  cursor: pointer;
  background-color: black;

  //text-transform: uppercase;
  //text-align: center;
  //letter-spacing: 0.14em;
  //border-radius: 5px;
  //font-size: 22px;
  //display: block;
  //text-align:center;

}



/*.simple_form .input-box #dress_title:focus + label {
  top: -25px;
}*/

//fondo

