.new-title {
  text-align: center;
}

.new-form {
  display:flex;
  justify-content:space-around;
}

.flex-select {
  label {
    text-align: left !important;
  }

  input{
    display: inline-block;
    width: auto;
  }
}