.advanced_search_container {
  width: 350px !important;
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
}


.input-group {
  display: flex;
  justify-content: space-between;
}

#search {
  width:150px;
  padding:10px 0;
  font-size:14px;
  margin-bottom:10px;
  border: transparent !important ;
  background-color:transparent;
  box-shadow:none;
  border-bottom:1px solid !important;
}

#size,
#category {
  width:10%;
  padding:10px 0;
  font-size:14px;
  margin-bottom:10px;
  border: transparent !important ;
  background-color:transparent;
  box-shadow:none;
  border-bottom:1px solid !important;
}

.search .btn {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 8px;
  background-color: white;
}
.search .btn:hover {
  color:  #616668;
  text-decoration: none;
}
