
.advanced_search_container{
  width: 350px !important;
  display: flex;
  justify-content: space-between;

  .search{
    display: flex;
  }


  .input-group{
    display: flex;
    justify-content: space-between;
  }

