git.advanced_search_container {
  width: 350px !important;
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
}


.input-group {
  display: flex;
  justify-content: space-between;
}

#size,
#category {
  border-radius:none !important;
  line-height:normal;
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: 1px solid !important;
  font-weight: 200;
  height:40px;
  width: 40px;
  padding: 1em 1.5em;
  box-shadow: none !important;
  margin:auto;
}

